
.home-head{
    font-family: 'dancing script';
    color: rgb(66, 30, 115);
    margin-top: 10px;
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    color: rgb(38, 38, 38);
}
.top-div{
    width: 90vw;
    height: 550px;
    margin-left: 4.5vw;
    position: relative;
}
.box-div{
    width: 50vw;
    height: 470px;
    position: relative;
    top: 40px;
    left: 30px;
}
.inner-div{
    width: 25vw;
    height: 235px;
    margin: 1px;
}
.one{
    position: absolute;
    background-image: url("/public/images/fbh52ndo_brahmastra.jpg");
    background-size: cover;
    border-top-left-radius:20px
}
.two{
    background-image: url("/public/images/cameron-venti-6QDvwq2Fjsc-unsplash-scaled.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius:20px;
}
.three{
    background-image: url("/public/images/bollywood.jpg");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius:20px
}
.four{
    background-image: url("/public/images/fitness-trends-2022.jpg");
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius:20px
}
.side1{
    width: 28vw;
    height: 220px;
    background-image: url('/public/images/technology.jpg');
    background-size: cover;
    position: absolute;
    top: 45px;
    right: 20px;
    border-radius: 20px;
}
.side2{
    width: 28vw;
    height: 220px;
    background-image: url('/public/images/food.jpg');
    background-size: cover;
    position: absolute;
    top: 285px;
    right: 20px;
    border-radius: 20px;
}
.middle-div{
    width: 90vw;
    height: 450px;
    margin-left: 4.5vw;
}
.line-highlight{
    width: 15vw;
    height: 2px;
    background-color: red;
    
}
#hr-mid{
    display: none;
}
.div-1{
    width: 90vw;
    height: 380px;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
}
.div-1 div{
    width: 27vw;
    height: 380px;
}
.img-1{
    width: 27vw;
    height: 230px;
    border-radius: 15px;
}
.div-1-title{
    width: 27vw;
    height: 90px;
    font-weight: bold;
    text-align: start;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px 10px;
}
.div-1-date{
    font-weight: bold;
    margin: 20px 0 0 10px;
}
.hr1{
    width: 90vw;
    height: 1.5px;
    margin-top: 40px;
    background-color: rgb(60, 60, 60);
}
.mid-2{
    width: auto;
    height: 1500px;
    position: relative;
    top: 60px;
    overflow: hidden;
}
.mid-2 h2{
    position: absolute;
    top: 10px;
    left: 55px;
}
.line2{
    position: absolute;
    top: 53px;
    left: 55px;

}
.mid-page{
    margin-top: -100px;
}
.home-aside{
    margin-top: -180px;
}
#side-h2{
    position: absolute;
    top: -60px;
    left: 0;
}
#line3{
    width: 12vw;
    height: 2px;
    background-color: red;
    position: absolute;
    top: -20px;
    left: 0;
}
.ad-home{
    width: 23vw;
    height: 520px;
    position: absolute;
    border: 1px solid;
    right: 4.2vw;
    top: 2270px;
    text-align: center;
    background-color: rgb(152, 152, 152);
    background-image: url('/public/images/380.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(46, 46, 46);
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}
.footer small{
    color: rgb(200, 196, 196);
}
.click-banner{
    display: none;
}


/* media for mobile screen */

@media screen and (max-width: 480px)
{   
    body{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    .side1,.side2,.one,.two,.three,aside,.ad-home,.mob-hr{
        display: none;
    }
    .home-head{
        margin: 30px auto 10px auto;
    }
    .box-div{
        width: 300px;
        height: 350px;
    }
    .inner-div{
        width: 150px;
        height: 175px;
    }
    .four{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
    }
    .click-banner{
        display: inline-block;
        position: relative;
        left: 21vw;
        z-index: 5;
        font-family: "dancing script";
        color: wheat;
        font-size: 1.5em;
        opacity: 0.9;
    }
    .middle-div{
        width: 85vw;
        height: 1630px;
        position: relative;
        top: -80px;
        left: 4.5vw;
    }
    .div-1{
        flex-direction: column;
        align-content: space-around;
        position: relative;
        top: 430px;
    }
    .div-1-inner{
        margin: 100px 0 0 0;
    }
    .img-1{
        width: auto;
        margin-left: 3vw;
    }
    .line-highlight{
        width: 30vw;
    }
    .div-1-title{
        width: 85vw;
    }
    .hr1{
        width: 85vw;
        height: 1.5px;
        opacity: 1;
        position: relative;
        background-color: rgb(74, 74, 74);
        margin-top: 30px;
    }
    .mid-2{
        width: 98vw;
        height: 2400px;
        position: relative;
        top: -200px;
        left: 2vw;
       
    }
    .mid-2 h2,.line2{
        margin-left: -50px;
        width: 45vw;
    }
    #footer-home{
        display: none;
    }
    #mob-page{
        width: 95.5%;
        height: 500px;
        background-color: rgba(0, 157, 255, 0.894);
        border-radius: 15px;
    }
    #home-bolly{
        width: 100%;
        height: 200px;
        border-radius: 15px;
        box-sizing: border-box;
        margin-left: 0px;
    }
    #home-title1{
        font-size: 1.1em;
        width: 93vw;
        height: 85px;
        position: relative;
        overflow: hidden;
        top: 20px;
        left: 0px;
        
    }
    #blog-date1{
        position: relative;
        top: 140px;
        left: 5px;
    }
    #bottom-hr1{
        margin: 0px 0 0 5px;
        width: 93vw;
    }
    
    
}
